
    
    *,
*::before,
*::after { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; font-family: sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; border: none; background: none; padding: 0; margin: 0; outline: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
button { cursor: pointer; }
a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; }

    
    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      background: #ffffff;
    }
/* HEADER HEADER HEADER */
    /* HEADER HEADER HEADER */
    /* HEADER HEADER HEADER */
    
    header {
      background: transparent;
      padding: 1rem 0;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 999;
      transition: background-color 1s ease, transform 0.3s ease;
    }
      
    header.scrolled {
      background-color: #ffffff;
    }
    header.hide {
      transform: translateY(-100%);
    }
    .logo {
      width: 150px;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      gap: 1.65rem;
    }
    nav a {
      text-decoration: none;
      font-weight: bold;
      color: #777;
      text-transform: uppercase;
      font-size: 2.5rem;
      transition: color 0.2s ease;
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 14px;
    }
    nav a:hover {
      color: #D35863;
    }
     .desktopCart {
      width: 34px;
      height: 34px;
      cursor: pointer;
      margin: 8px 0 0 0;
      gap: 0rem!important;
    }
    .upload-btn {
      background: #D35863;
      color: white;
      padding: 0.75rem 1.4rem;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      text-decoration: none;
      margin-left: 0rem;
      margin-top: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      height: 100%;
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    .upload-btn:hover {
      background-color: #b84251;
      color: white;
    }
      .mobile-header {
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 1.25rem;
      height: 65px;
      background: transparent;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    .mobile-header .icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin: 0 1.25rem;
    }
    .mobile-header #mobileLogo {
      position: fixed;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
    .mobile-header #cart {
      padding-right: 2.25rem;
    }
    .mobile-nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
      z-index: 998;
      padding: 8rem 1rem 2rem;
      box-sizing: border-box;
    }
    .mobile-nav.open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .mobile-nav a {
      display: block;
      padding: 1.5rem;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #777;
      font-weight: bold;
      transition: background 0.2s;
    }
    .mobile-nav a:hover {
      background: #D35863;
      color: white;
    }
    a.mobile-login {
      color: #222222;
      font-size: 1.6rem;
      text-align: center;
      margin: 50px 0 10px 0;
      text-transform: none;
      font-weight: 300;
    }
    a.mobile-login:hover {
      color: #D35863;
      background: none;
    }
    
    a.mobile-upload {
      background: #D35863;
      color: white!important;
      font-size: 1.75rem;
      text-transform: uppercase;
      padding: 1rem;
      text-align: center;
      margin: 0 25px 25px;
      border-radius: 6px;
      font-weight: bold;
      text-decoration: none;
    }
    a.mobile-upload:hover {
      background: #b84251;
      color: white;
    }    
    

/* HERO HERO HERO */
/* HERO HERO HERO */
/* HERO HERO HERO */
    .hero {
      background: #f5eee9;
      text-align: center;
      padding: 8rem 1rem 1rem 0;
      width: 100%;
    }
    .section {
      padding: 3rem 0;
      max-width: 100%;
      overflow-x: hidden;
    }

    .pink {
      background: #fcd6d7;
    }
    .placeholder-img {
      width: 100%;
      height: 180px;
      background: #ddd;
    }
    .grid-icons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 2rem;
      text-align: center;
    }
    .heroImg {width: 60%; display: inline-block; margin: 0; padding: 0;}
    .heroBlurb {width: 40%; display: inline-block; margin: 0; padding: 0;}
    
    @media (max-width: 1008px) {
      .heroImg {width: 100%; display: inline-block; margin: 0; padding: 0;}
      .heroBlurb {width: 100%; display: inline-block; margin: 0; padding: 0;}
    }

a.offeringLink {
  color: #D35863;
  font-size: 3rem;
  text-decoration: none;
  font-weight: 700;
  line-height: 0.95em;
  display: block;
  margin: 28px 0;
}


/* FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER */
    footer {
      background: #f5eee9;
      padding: 2rem 1rem;
      text-align: center;
      font-size: 0.9rem;
    }
    a.footerLink {
      color: white;
      display: block;
      width: fit-content;
      cursor: pointer;
      margin: 0 auto; /* optional: center it */
      padding: 0.2rem 2.1rem;
      text-decoration: none;
    }

    a.footerLink:hover, a.footerLink:active {
      color: #222222;
      background: #C3E6C9;
      transition: clip-path 0.9s ease;
    }

.footerLink.variant1:hover {clip-path: polygon(0% 5%, 95% 0%, 100% 35%, 90% 95%, 70% 100%, 5% 90%, 0% 65%, 5% 25%);}
.footerLink.variant2:hover {clip-path: polygon(2% 3%, 97% 8%, 95% 35%, 100% 90%, 85% 100%, 10% 95%, 0% 60%, 3% 20%);}
.footerLink.variant3:hover {clip-path: polygon(3% 10%, 98% 0%, 100% 40%, 93% 88%, 75% 100%, 8% 94%, 0% 70%, 5% 25%);}
.footerLink.variant4:hover {clip-path: polygon(4% 0%, 90% 3%, 100% 30%, 95% 92%, 75% 100%, 10% 97%, 0% 68%, 6% 35%);}
.footerLink.variant5:hover {clip-path: polygon(5% 5%, 93% 0%, 100% 25%, 95% 93%, 82% 100%, 15% 95%, 0% 65%, 6% 30%);}


  /* ACCORDION */
  /* ACCORDION */
  /* ACCORDION */
.accordion {
  border-top: 1px solid #ddd;
  margin: 0 auto; 
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.accordion-header {
  background: none;
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  color: #777;
  text-align: center;
  margin: 0;
}

.accordion-header:hover {
  background: #D35863;
  color: #fff;
}

.accordion-content {
  display: none;
  padding: 2.75rem 2.6rem 1rem 2.6rem;
  line-height: 1.2;
  text-align: center;
  background: #fafafa;
  margin-top: 0;
}

.accordion-header.active {
  background-color: #D35863;
  color: #fff;
}




/* HOME CUSTOM PRINT */
/* HOME CUSTOM PRINT */
/* HOME CUSTOM PRINT */
    .home4 {flex: 0 0 25%; box-sizing: border-box; padding: 0; margin: 0;}
    .home6 {flex: 0 0 16.66%; box-sizing: border-box; padding: 0; margin: 0;}
    .home1 {flex: 0 0 100%; box-sizing: border-box; padding: 0; margin: 0;}
    .home1-2 {flex: 0 0 50%; box-sizing: border-box; padding: 0; margin: 0;}
    .home1-3 {flex: 0 0 33.33%; box-sizing: border-box; padding: 0; margin: 0;}
    .home2-3 {flex: 0 0 66.66%; box-sizing: border-box; padding: 0; margin: 0;}
    .home1-4 {flex: 0 0 25%; box-sizing: border-box; padding: 0; margin: 0;}
    .home2-4 {flex: 0 0 25%; box-sizing: border-box; padding: 0; margin: 0;}
    .home3-4 {flex: 0 0 75%; box-sizing: border-box; padding: 0; margin: 0;}
    



    @media (max-width: 1160px) {
      .home1-2 {flex: 0 0 100%;}
    }
    



    @media (max-width: 768px) {
      nav, #desktopLogo {
        display: none;
      }
      header {
        transition: none;
      }
      .mobile-header {
        display: flex;
        background: transparent;
        transition: none;
      }
      .home6 {flex: 0 0 33.33%;}
      .home4, {flex: 0 0 50%;}
      .home1-3, .home2-3, .home1-4, .home3-4 {flex: 0 0 100%;}
    }
    
    
  
  
    @media (max-width: 520px) {
      .home6 {flex: 0 0 50%;}
      .home2-4 {flex: 0 0 50%; box-sizing: border-box; padding: 0; margin: 0;}
    } 
    
    
    
    
    
    @media (max-width: 1620px) {
      .logo {
        padding-left: 25px;
      }
      .upload-btn {
        margin-right: 25px;
      }
    }




